


  <mat-accordion>
    @for (activity of activityService.activities; track activity.id){
    <mat-expansion-panel (opened)="panelOpenState.set(true)"  (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>{{activity.title}}</mat-panel-title>
        <mat-panel-description>
          {{ activity.description }} {{panelOpenState() ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{activity.clientName}}</p>
      <p>{{activity.clientNumber}}</p>
      <button mat-fab (click)="deleteActivity(activity.id)" >
        <mat-icon>delete</mat-icon>
      </button>

    </mat-expansion-panel>}
  </mat-accordion>


  <button mat-fab (click)="addActivity()" >
    <mat-icon>add</mat-icon>
  </button>





