.add-button{
  margin-top: 20px;
  display: grid;
  place-items: center;
}

.div-pai{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px; 
}

