<div class="container">
  <mat-accordion class="card">
    @for (activity of activityService.activities; track activity.id){
      <mat-expansion-panel (opened)="panelOpenState.set(true)"  (closed)="panelOpenState.set(false)" class="card1">
        <mat-expansion-panel-header>
          <mat-panel-title>{{activity.title}}</mat-panel-title>
          <mat-panel-description>
            {{activity.date}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="div-pai">
          <div class="div1">
            <p><strong>ID atividade:</strong> {{activity.id}}</p>
            <p><strong>Nome do Cliente:</strong> {{activity.clientName}}</p>
            <p><Strong>Telefone: </Strong> {{activity.clientNumber}}</p>
            <p><Strong>Endereço: </Strong> {{activity.address}}</p>
          </div>
          <div class="div2">
            <p><Strong>Valor: </Strong> R${{activity.price}}</p>
            <p><Strong>Valor pago: </Strong> R${{activity.pricePayed}}</p>
            <p><Strong>Finalizado: </Strong> {{activity.done ? 'sim' : 'não'}}</p>
            <p><Strong>Pago:</Strong> {{activity.paied ? 'sim' : 'não'}}</p>
          </div>
        </div>


        <div class="delete-button">
          <button mat-fab (click)="deleteActivity(activity.id)" >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>}
  </mat-accordion>

  <div class="add-button">
    <button mat-fab (click)="addActivity()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>





