<div class="calendar">
    <div class="header">
      <button class="btn prev" (click)="previousMonth()">&lt;</button>
      <div class="month-indicator">
        <time [attr.datetime]="currentDate | date: 'yyyy-MM'">
          {{ currentDate | date: 'MMMM yyyy' }}
        </time>
      </div>
      <button class="btn next" (click)="nextMonth()">&gt;</button>
    </div>
    
    <div class="day-grid">
      <div class="day">Dom</div>
      <div class="day">Seg</div>
      <div class="day">Ter</div>
      <div class="day">Qua</div>
      <div class="day">Qui</div>
      <div class="day">Sex</div>
      <div class="day">Sáb</div>
      
      <div 
        *ngFor="let day of days" 
        class="date"
        [class.prev-month]="day.isPadding"
        (click)="selectDate(day.date)"
      >
        {{ day.date.getDate() }}
      </div>
    </div>
  </div>